@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');
body {
  font-family: 'Inter', sans-serif;
}
p {
  word-wrap: break-word;
  width: 500px;
  display: inline-block;
}
table {
  border-collapse: collapse;
  border: 1px;
  border-radius: 8px;
}
th,td {
  padding: 15px;
  transition: background-color ease-out 250ms
}
td:hover {
  background-color: #dbdbdb;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
